@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 14px 18px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
}

.topo img {
    width: 75px;
    height: 53px;
}

.topo ion-icon {
    width: 45px;
    height: 45px;
}

.bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 28px 18px 12px 12px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;

}

.bottom input {
    width: 90%;
    height: 30px;
    border-style: hidden;
    font-weight: 400;
    font-size: 18px;
}

.bottom input::placeholder {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #000000;
}

.bottom ion-icon {
    width: 26px;
    height: 26px;

}


.box-msgs {

    width: 100%;
    height: 100%;
    margin-top: 124px;
    margin-bottom: 100px;
    background-color: #E5E5E5;

}

.box-msgs div {
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    width: 100%;
}

.box-msgs div h2 {
    margin: 0 10px 0 10px;
    color: #AAAAAA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.box-msgs div p {
    margin: 0 10px 0 10px;
    width: 100%;
    word-break: break-all;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: #FFDEDE;
}

/* .entrada {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.entrada img {
    width: 130px;
    height: 92px;
   margin: 0 auto;
}

.entrada input {
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin: 192px auto 0 auto;
}

.entrada input::placeholder {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
    
}

.entrada button {
    width: 109px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 8px auto;
} */